html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body{
	font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
}
h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 10px;
}
h2{
	font-size: 26px; 
	font-weight: bold;
	margin-top: 10px;
}
h3{
	font-size: 15px; 
	font-weight: bold;
	margin-top: 10px;
}
ul.errors li {
	color: red;
}
ul li {
	margin-left: 25px;
}
div.fieldcontain {
	margin-bottom: 1.625em;
}
label{
	width: 200px;
	display:block;
	color: gray;
}
input {
	width: 250px;
	font-size: 16px;
	background: #F9F9F9;
}
input.anoniem {
	float:left;
	width:auto;
}
label.anoniem{
	width: auto;
}
p.explanation{
	font-size: smaller;
	margin: 0;
}
input#create {
	width: auto;
}
#total {
	font-weight: bold;
}
table.donaties, p{
	margin: 1.625em 0;
}
table.donaties col.naam {
	width: 350px;
}
table.donaties col.donatie {
	width: 150px;
}
table.donaties td, table.donaties th{
	padding: 3px;
	border: 1px solid black;
}
table.donaties th{
	color: white;
	font-weight: bold;
	text-align: left;
	background: black;
}
table.donaties th a{
	color: white;
}
em {
	font-style: italic;
}
a.donatieMeter {
	display:block;
	width: 74px;
	height: 140px;
	background: url('../images/stapel_munten_achtergrond.png') no-repeat 0 0;
	position:relative;
	float:left;
}
strong.meter {
	display:block;
	position:absolute;
	bottom: 0px;
	width: 74px;
	background: url('../images/stapel_munten.png') no-repeat bottom left;
}
.voortgang {
	text-align:center;
}
.voortgang em {
	padding-top: 10px;
	font-size:x-large;
	display: block;
}
.voortgang strong.details {
	padding-top: 15px;
	display:block;
	text-align:center;
	font-size:smaller;
}
.voortgang strong.details a {
	color: black;
	display: block;
}

/* Polyfill */
a.steun {
	margin-top: 10px;
	display:inline-block;
	border-radius: 5px;
	font-weight:bold;
	padding: 5px 15px;
	color:white;
	text-align:center;
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -ms-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	background-image: -o-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
		background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
		color-stop(1, rgb(84,240,84))
	);
	background-image: -webkit-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(endColorstr=#FF2BC253, startColorstr=#FF54F054);
	
}


